<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header class="clearfix">
			<div class="logo">
				<a href="{{ '/' | url }}">{{ metadata.title }} <span></span></a>
			</div>
			<ul class="nav clearfix">
				<li>
					<a href="https://twitter.com/komuterid"><img src={{ "static/img/icon_twitter.svg" | url }} alt="Twitter" /> <span class="label">Twitter</span></a>
				</li>
				<li>
					<a href="https://medium.com/komuter"><img src={{ "static/img/icon_medium.svg" | url }} alt="Medium" /> <span class="label">Read our story</span></a>
				</li>
			</ul>
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
