<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			<em>
				<a href="{{ '/' | url }}">{{ metadata.title }}</a>
			</em>
			<ul class="nav">
				<li>
					<a href="https://twitter.com/komuterid"><img src="" /> Twitter</a>
				</li>
				<li>
					<a href="https://medium.com/komuter"><img src="/assets/img/icon_medium.svg" alt="Medium" />Read our story</a>
				</li>
			</ul>
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
