---
layout: layouts/base.njk
section: home
---

<div class="hero">
<img src={{ "static/img/screenshot.png" | url }} alt="Screenshot" />
</div>
<div class="callout">
  <h1>The urban travel companion</h1>
  <p>An open platform for community to survive in commuting. Download from App Store.</p>
  <p><a href="https://itunes.apple.com/us/app/komuter/id619347297?l=id&ls=1&mt=8" class="badge-store"><img src={{ "static/img/badge-appstore.png" | url }} alt="AppStore" /></a></p>
</div>
