---
layout: layouts/base.njk
section: home
---

<div class="hero">
<img src={{ "static/img/screenshot.png" | url }} alt="Screenshot" />
</div>
<div class="callout">
  <h2>The urban travel companion</h2>
  <p>An open platform for community to survive in commuting. Sign up to get early access.</p>
  <p>Get access</p>
</div>

{{ layoutContent | safe }}
